<div class="row layout-column flex">
    <div id="header-title">
        {{link-to 'BUYBACKERS' 'index' class="logo flex"}}
    </div>
    <div class="mobile-toggle flex">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav>
        <ul>
            <li><a {{action 'scrollToSell'}}>Sell My iPhone</a></li>
            <li><a {{action 'scrollToSimple'}}>Simple and Easy</a></li>
            <li><a {{action 'scrollToAbout'}}>About Us</a></li>
            <li><a {{action 'scrollToContact'}}>Contact Us</a></li>
        </ul>
    </nav>
</div>

