<div class="user-selection layout-column flex-xs">
    {{#paper-card as |card|}}
        {{#card.title as |title|}}
            {{#title.text as |text|}}
                {{#text.headline}}You've selected{{/text.headline}}
                {{#text.subhead}}Device: {{selectedDevice.device}}{{/text.subhead}}
                {{#if selectedDevice.model}}
                    {{#text.subhead}}Model: {{selectedDevice.model}}{{/text.subhead}}
                {{/if}}
                {{#if selectedDevice.network}}
                    {{#text.subhead}}Network: {{selectedDevice.network}}{{/text.subhead}}
                {{/if}}
                {{#if selectedDevice.size}}
                    {{#text.subhead}}Size: {{selectedDevice.size}} GB{{/text.subhead}}
                {{/if}}
                {{#text.subhead}}Condition: {{selectedDevice.condition}}{{/text.subhead}}

            {{/title.text}}
            {{#title.media size="sm"}}
                <div class="card-media">
                    <img src="assets/images/{{image}}" alt="{{selectedDevice.device}}" title="{{selectedDevice.device}}" />
                </div>
            {{/title.media}}
            {{/card.title}}
        {{#card.actions}}
            {{#if selectedDevice.network}}
                {{#paper-button raised=true onClick=(action "goBack")}}Go Back{{/paper-button}}
            {{else}}
                {{#if selectedDevice.device}}
                    {{#paper-button raised=true onClick=(action "newDevice")}}Select New Device{{/paper-button}}
                {{/if}}
                {{#if selectedDevice.model}}
                    {{#paper-button raised=true onClick=(action "newModel")}}Select New Model{{/paper-button}}
                {{/if}}
            {{/if}}
            {{/card.actions}}
    {{/paper-card}}
</div>
