<div class="user-selection layout-column flex-xs flex-gt-xs-50">
    {{#paper-card as |card|}}
        {{#card.title as |title|}}
            {{#title.text as |text|}}
                {{#text.headline}}You've selected{{/text.headline}}
                {{#text.subhead}}Device: {{selectedDevice.device}}{{/text.subhead}}
                {{#if selectedDevice.model}}
                    {{#text.subhead}}Model: {{selectedDevice.model}}{{/text.subhead}}
                {{/if}}
                {{#if selectedDevice.network}}
                    {{#text.subhead}}Network: {{selectedDevice.network}}{{/text.subhead}}
                {{/if}}

            {{/title.text}}
            {{#title.media size="sm"}}
                <div class="card-media">
                    <img src="assets/images/{{image}}" alt="{{selectedDevice.device}}" title="{{selectedDevice.device}}" />
                </div>
            {{/title.media}}
            {{/card.title}}
        {{#card.actions}}
            {{#paper-button raised=true onClick=(action "newDevice")}}Select New Device{{/paper-button}}
            {{#if selectedDevice.model}}
                {{#paper-button raised=true onClick=(action "newModel")}}Select New Model{{/paper-button}}
            {{/if}}
            {{#if selectedDevice.network}}
                {{#paper-button raised=true onClick=(action "newNetwork")}}Select New Network{{/paper-button}}
            {{/if}}
            {{/card.actions}}
    {{/paper-card}}
</div>
