<div class="user-selection layout-column flex-xs">
    Device selected: {{selectedDevice.device_attributes.device}}&nbsp; {{selectedDevice.device_attributes.model}}
    <br>
    Network: {{selectedDevice.device_attributes.network}}, Size: {{selectedDevice.device_attributes.size}} GB, Condition: {{selectedDevice.device_attributes.condition}}
    <br>
    <div class="card-media flex">
        <img src="assets/images/{{image}}" width="150px" alt="{{selectedDevice.device_attributes.device}}" title="{{selectedDevice.device}}" />
    </div>
</div>
