<div class="layout-column flex" id="index">
    {{#unless userSelectedDevice}}
    <div class="flex index-text">
        {{index-text}}
    </div>
    {{/unless}}

    {{#if userSelectedDevice}}
        {{#each finalDevice as |device|}}
            {{selected-device reloadDevice=(action 'refreshDevice') reloadModel=(action 'refreshModel') image=device.image}}
        {{/each}}
    {{else}}
        <hr>
        {{index-device}}
        <div class="device-type selector">
            {{#each uniqueDevice as |device|}}
                {{device-selector send=(action 'deviceValue') id=device.id device_type=device.device_type image=device.image}}
            {{/each}}
        </div>
    {{/if}}
    <hr>

    {{liquid-outlet}}

</div>


