<div class="layout-column flex" id="index">
    <div class="flex" id="index-text">
        <p><em>We buy your used device for cash in NYC</em></p>
    </div>

    {{#if userSelectedDevice}}
        {{#each finalDevice as |device|}}
            {{selected-device reloadDevice=(action 'refreshDevice') reloadModel=(action 'refreshModel') image=device.image}}
        {{/each}}
    {{else}}
        <div class="layout-row layout-md-column" id="device-selection-text">
            <h2><em>What do you want to sell?</em></h2>
        </div>
        <div class="device-type selector">
            {{#each uniqueDevice as |device|}}
                {{device-selector send=(action 'deviceValue') id=device.id device_type=device.device_type image=device.image}}
            {{/each}}
        </div>
    {{/if}}

    {{#if userDeviceChanged}}
        <div class="layout-row layout-md-column" id="model-selection-text">
            <h2><em>What model?</em></h2>
        </div>
        <div class="device-model selector">
            {{#each uniqueModel as |uniqueModel|}}
                {{device-model deviceVal send=(action 'modelValue') id=uniqueModel.id device_model=uniqueModel.device_model image=uniqueModel.image}}
            {{/each}}
        </div>
    {{/if}}

    {{#if userModelChanged}}
        <div class="layout-row layout-md-column" id="network-selection-text">
            <h2><em>Choose your Network</em></h2>
        </div>
        <div class="device-network selector">
            {{#each uniqueNetwork as |network|}}
                {{device-network send=(action 'networkValue') network=network.network }}
            {{/each}}
        </div>
    {{/if}}
</div>


