 <div class="layout-column flex" id="index">
     <div class="flex index-text sec01">
     {{#unless userSelectedDevice}}
         {{index-text}}
     {{/unless}}
        {{index-video}}
     </div>

     {{#unless userSelectedDevice}}
         <div class="device-type selector flex" id="index-button-container">
             {{device-selector send=(action 'deviceSelected')}}
         </div>
     {{else}}
         {{#if userSelectedDevice}}
             <div class="device-type selector flex" id="index-button-container">
                 {{device-selector send=(action 'deviceSelected')}}
             </div>
         {{/if}}
     {{/unless}}
 </div>

 {{#unless userSelectedDevice}}
     <div class="index-bottom flex sec02">
         <div class="layout-column" id="simple-easy">
             <div class="layout-row flex" id="see-price-text">
                 <img src="assets/images/instant-quote.png" height="100px"/>
                 <div class="flex icon-text">
                    <h2>Instant Quote</h2>
                    <p>Simply choose your device and see how much you're going to get paid.</p>
                 </div>
             </div>
             <div class="layout-row flex" id="appt-text">
                 <img src="assets/images/same-day-payment.png" height="85px" />
                 <div class="flex icon-text">
                     <h2>Same Day Payment</h2>
                     <p>We'll text you so you can tell us the best time to bring you money and pick-up your old device.</p>
                 </div>
             </div>
             <div class="layout-row flex" id="paid-text">
                 <img src="assets/images/friendly-girl.png" height="100px" />
                 <div class="flex icon-text">
                     <h2>Easiest Fastest Funnest</h2>
                     <p>Seriously, our competitors are freaking out so if you don't mind waiting a month to get paid we'd love to send them some customers.</p>
                 </div>
             </div>
         </div>
     </div>
     <hr>
 {{/unless}}

 {{liquid-outlet}}



