<div class="layout-column flex" id="index">
    <div class="flex" id="index-text">
        <p><em>We buy your used device for cash in NYC</em></p>
    </div>

    {{#if userSelectedDevice }}
        <h3>picked</h3>
    {{else}}
        <div class="layout-row layout-md-column" id="device-selection-text">
            <h2><em>What do you want to sell?</em></h2>
        </div>
        <div class="device-type selector">
            {{#each uniqueDevice as |device|}}
                {{device-selector send=(action 'deviceValue') id=device.id device_type=device.device_type image=device.image}}
            {{/each}}
        </div>
    {{/if}}

    {{#if userSelectedModel }}
        <div class="user-selection" id="model">{{selectedDevice.model}}</div>
    {{else}}
        <div class="device-model selector">
            {{#each uniqueModel as |uniqueModel|}}
                {{device-model deviceVal send=(action 'modelValue') id=uniqueModel.id device_model=uniqueModel.device_model image=uniqueModel.image}}
            {{/each}}
        </div>
    {{/if}}

    {{#if userSelectedNetwork}}
        <div class="user-selection" id="network">{{selectedDevice.network}}</div>
    {{else}}
        <div class="device-network selector">
            {{#each uniqueNetwork as |network|}}
                {{device-network send=(action 'networkValue') network=network.network }}
            {{/each}}
        </div>
    {{/if}}
</div>


