{{#if userNotSelectedSize}}
<div class="device-size selector">
    {{#each uniquePrice as |device|}}
        {{device-size send=(action 'sizeValue') image=device.image size=device.size}}
    {{/each}}
</div>
{{/if}}
<div class="final-device-selection">
    My device:
        {{selectedDevice.device}}
        {{selectedDevice.model}}
        {{selectedDevice.network}}
        {{selectedDevice.size}}
        {{selectedDevice.condition}}
    </div>