{{#if userNotSelectedSize}}
<div class="device-size selector">
    <h3>Choose Size:</h3>
    {{#each sizeSelection as |dev|}}
        {{device-size send=(action 'sizeValue') size=dev.size price=dev.price}}
    {{/each}}
</div>
{{else}}
    <h3>Size You Selected:</h3>
    <br>
    {{selectedDevice.size}}
{{/if}}

{{#if conditionValNotSet}}
    {{device-condition send=(action 'conditionValue')}}
{{else}}
    <h3>Condition You Selected:</h3>
    <br>
    {{selectedDevice.condition}}
{{/if}}



{{#each devicePrice as |device|}}
    {{device-price send=(action 'priceValue') image=device.image size=device.size price=device.price_cents}}
{{/each}}


<div class="final-device-selection">
    {{#each finalDevice as |device|}}
        {{selected-device reloadDevice=(action 'refreshDeviceFromPrice') reloadModel=(action 'refreshModelFromPrice') reloadNetwork=(action 'refreshNetwork') image=device.image}}
    {{/each}}
    </div>

{{name-phone}}