{{#if selectedDevice.device_attributes.network}}
<div class="layout-column flex price">
    <div class="layout-column layout-xs-column price-page-top">
            <div class="device-price flex">
                {{#each devicePrice as |device|}}
                    {{device-price}}
                {{/each}}
            </div>
            <div class="name-phone flex">
                {{name-phone quoted=(action 'quoted')}}
            </div>
    </div>
    <div class="size-condition layout-row layout-sm-column layout-xs-column flex">
        <div class="device-size layout-column">
            <h3>Choose GB Size:</h3>
            <div class="layout-row flex" id="size-radio">
            {{#each sizeSelection as |dev|}}
                {{device-size send=(action 'sizeValue') size=dev.size}}
            {{/each}}
            </div>
        </div>
        <div class="device-condition layout-column">
            <h3>Device Condition</h3>
            <div class="layout-row flex" id="condition-radio">
                {{#each conditionSelection as |cond|}}
                    {{device-condition send=(action 'conditionValue') condition=cond.name}}
                {{/each}}
            </div>
            <div class="condition-description">
                <ul>
                    {{#each conditionDescription as |description|}}
                    <li>{{description}}</li>
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>
    <hr id="price-page-hr">
    <div class="final-device-selection layout-row flex">
        {{#each finalDevice as |device|}}
            {{selected-device image=device.image}}
        {{/each}}
    </div>
</div>
{{else}}
    <div class="layout-row layout-md-column" id="network-selection-text">
        <h2>You have visited this page without selecting a device to sell.</h2>
    </div>
    <div class="network selector reset-button">
        {{paper-button noink=true raised=true onClick=(action 'startOver') label="Get Cash For My Device"}}
    </div>
{{/if}}
