{{#if userNotSelectedSize}}
<div class="device-size selector">
    <h3>Choose Size:</h3>
    {{#each uniqueSize as |dev|}}
        {{device-size send=(action 'sizeValue') size=dev.size price=dev.price}}
    {{/each}}
</div>
{{else}}
    <h3>Your {{selectedDevice.model}} has {{selectedDevice.size}}GB of memory.</h3>
    
{{/if}}


{{#each devicePrice as |device|}}
    {{device-price send=(action 'priceValue') image=device.image size=device.size price=device.price_cents}}
{{/each}}

<div class="final-device-selection">
    <p>Your device is a {{selectedDevice.device}} {{selectedDevice.model}} </p>
    <p>with {{selectedDevice.size}}GB of memory set up on the {{selectedDevice.network}} network </p>
    <p>and it's in {{selectedDevice.condition}} condition.</p>
    </div>